@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 { /* For Hero */
    font-size: 50px;
    line-height: 64px;
    color: #088178;
}
h2 { /* For Hero */
    font-size: 46px;
    color: #222;
}
h4 { /* For Hero */
    font-size: 20px;
    color: #222;
    padding-bottom: 15px;
}
h6 {/* For Features */
    font-weight: 700;
    font-size: 12px;
}
p { /* For Hero */
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 { /* Padding */
    padding: 40px 80px;
}

.section-m1 { /* Margin */ 
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none; outline: none;
    transition: 0.3 s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff; 
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* Header Start */
#header { /* Sticky Navigation Bar */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0; left: 0;
}

#navbar { /* Navigation Bar */ 
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active { /* Hover effect in Navigation bar "active its just class" */
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after { /* Hover effect in Navigation bar */
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Home Page */
#hero { /* Image code */
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero button{ /* Shop Now button */
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
}

#feature { /* Futures Sections */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box { /* Feature's Box */
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin: 15px 0;
}

#feature .fe-box:hover { /* Hover effect for Feature */
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.251);
    cursor: pointer;
}

#feature .fe-box img { /* Features's Images */
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 { /* Text for Features */
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 5px;
    color: #088178;
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(2) h6 { /* Colors for Features */
    background-color: #fddde4;
}
#feature .fe-box:nth-child(3) h6 { /* Colors for Features */
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(4) h6 { /* Colors for Features */
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 { /* Colors for Features */
    background-color: #f6dbf6;
} 
#feature .fe-box:nth-child(6) h6 { /* Colors for Features */
    background-color: #fff2e5;
}


#product1 { /* Our Products */
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro { /* Wrap for Products */
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover { /* Hover effect on Product */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img { /* Images */
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
    transition: 0.3s all ease-in-out;
}

#product1 .pro .description {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .description span { /* GUCCI */
    color: #606063;
    font-size: 12px;
}

#product1 .pro .description h5 { /* Cartoon Astronaut T-Shirts */
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .description i { /* Stars */
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .description h4 { /* Price */
    padding-top: 7px;
    font-weight: 700;
    font-size: 20px;
    color: #088178;
    text-align: center;
}

#product1 .pro .heart { /* Heart on Product */
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    color: #088178;
    position: absolute;
    top: 15px; right: 15px;
    border-radius: 50px;
    font-size: 20px;
}
#product1 .pro .heart:hover { /* Hover effect for Heart */
    border: 1px solid #cce7d0;
    background-color: #465b521f;
    font-weight: 700;
}

#product1 .pro .cart { /* Cart on Product */
    width: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    color: #088178;
    position: absolute;
    bottom: 15px; right: 15px;
    border-radius: 50px;
    font-size: 20px;
    background-color: #cdd4f876;
    border: 1px solid #cce7d0;
}
#product1 .pro .cart:hover { /* Hover effect for Cart */
    border: 1px solid #cce7d0;
    background-color: #465b521f;
    font-weight: 700;
}

#banner { /* Banner after Featured Products */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}
#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
#banner span {
    color: #ef3636;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box { /* first Small Banner */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b10.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    cursor: pointer;
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover,
#sm-banner .banner-box:hover button { /* Hover effect for button on Small Banner */
    background-color: #088178;
    border: 1px solid #088178;
}

#sm-banner .banner-box2 { /* second Small Banner */
    width: 55%;
    background-image: url(img/banner/b17.jpg);
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    min-width: 32%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(img/banner/b4.jpg);
}
#banner3 .banner-box3 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(img/banner/b18.jpg);
}

#banner3 .banner-box:hover, /* Hover effect for small banners */
#banner3 .banner-box2:hover,
#banner3 .banner-box3:hover {
    border: 1px solid #ef3636;
    cursor: pointer;
}  

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

#newsletter { /* News Letter */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input { /* News Letter input */
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button { /* News Letter button */
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Footer */
footer { /* Footer */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    color: #222;
    margin-bottom: 10px;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}


footer li { /* Icons */
    list-style: none;
    display: flex;
    padding: 10px 0;
}
footer li i {/* Icons */
    font-size: 17px;
    padding-right: 22px;
    cursor: pointer;
}
footer li p {/* Icons */
    margin: 0;
    font-size: 14px;
    cursor: pointer;
}

footer li i:hover{
    color: #088178;
    font-weight: bold;
}
footer li p:hover {
    color: #088178;
}

footer .follow { /* Social Media */
    margin-top: 20px;
}

footer .follow i { /* Social Media Icons */
    font-size: 25px;
    color: #465b52;
    padding-right: 4px;
    padding: 7px;
    cursor: pointer;
}

footer .install .row img { /* App Images */
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer a:hover {
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* Shop Page */
#page-header {
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 35vh;
    background-size: cover;
    display: flex;
    text-align: center;
    padding: 14px;
    flex-direction: column;
}

#product1 .search-form{
    width: 20rem;
    height:2.5rem;
    border: 1px solid #818ea0;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
    margin-left: 31.5rem;
}

#product1 .search-form #search-box{
    border: none;
}
#product1 .search-form #search-box:focus {
    outline: none;
}

#product1 .search-form input{
    font-size: 1rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    color: #000;
}

#product1 .search-form label{
    font-size: 1.5rem;
    padding-right: 1.5rem;
    color: #000;
    cursor: pointer;
    color: #088178
}

#page-header h2{
    margin-top: 70px;
}
#page-header h2,
#page-header p {
    color: #fff;
}

#pagination {
    text-align: center;
}
#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Single Products */
#pro-details {
    display: flex;
    margin-top: 20px;
}

#pro-details .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#pro-details .single-pro-details {
    width: 50%;
    padding-top: 30px
}

#pro-details .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#pro-details .single-pro-details h2{
    font-size: 26px;
    color: #f44336;
    padding: 10px 0 30px 0;
}

#pro-details .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #088178;
    border-radius: 5px;
}

#pro-details .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#pro-details .single-pro-details select:focus,
#pro-details .single-pro-details input:focus {
    outline: none;
}

#pro-details .single-pro-details button:hover {
    background: #088178;
    color: #fff;
}

#pro-details .single-pro-details span {
    line-height: 25px;
}

/* Blog Header */
#page-header.blog-header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.000)), url(img/banner/b19.jpg);
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 150px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 0px;
}

#blog img {
    width: 90%;
    height: 310px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 8px;
    right: -60px;
}
#blog .blog-details a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

/* About Page */
#page-header.about-header {
    background-image: url(img/about/banner.png);
}

#about-head {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-right: 70px;
}

#about-head img {
    width: 40%;
    height: auto;
}

#about-head div p {
    line-height: 26px
}

#about-head div {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video {
    width: 80%;
    height: 100%;
    border-radius: 20px;
}

/* Contact Page */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
    font-weight: bold;
    color: #088178;
}
#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 50%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details form { /* Leave Message area */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form input,
#form-details form textarea { /* Leave Message area */
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* User Page */
.container {
    position: relative;
    max-width: 430;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 600px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #088178;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #088178;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #088178;
}

.input-field i.icon{
    left: 0;
}

.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #088178;
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #088178;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #088178;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}






























/* Start Media Query */
@media (max-width: 799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0; right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px; left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        margin-top: 30px;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {  
        width: 28%;   
    }
    #newsletter .form{
        width: 70%;
    }
    #page-header { /* Header Banner for Blog page */
        height: 25vh;
    }

    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    h2 { 
        font-size: 40px; /* For About page text */
    }
    #about-app .video video { /* For About page video */
        width: 100%; 
    }

    #form-details { /* Contact Page */
        padding: 40px;
    }
    #form-details form { /* Contact Page */
        width: 50%;
    }

    #product1 .search-form{ /* Search here... */
        margin-left: 11rem;
    }
}



@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 20px;
    }
    h2 {
        font-size: 32px;
    }
    h1 {
        font-size: 38px;
    }
    p {
        font-size: 13px;
    }
    #hero {
        background-position: 55%;
        padding: 0 20px;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner {
        height: 35vh;
    }
    #banner3 {
        justify-content: space-between;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #newsletter {
        padding: 33px 20px;
    }
    #newsletter .form {
        width: 100%;
    }

    #pro-details { /* Single Products */
        display: flex;
        flex-direction: column;
    }
    #pro-details .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #pro-details .single-pro-details {
        width: 100%;
    }

    #blog { /* for Blog Page */
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box { /* for Blog Page */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img {/* for Blog Page */
        width: 100%;
        margin-bottom: 20px;
    }
    #blog .blog-details { /* for Blog Page */
        width: 100%;
    }

    #about-head img { /* for About page */
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head { /* for About page */
        flex-direction: column;
    }
    #about-head div {
        padding-left: 25px;
    }

    #contact-details { /* Contact Page */
        flex-direction: column;
    }
    #contact-details .details { /* Contact Page */
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map {
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form  {
        width: 100%;
        margin-bottom: 30px;
    }

    #product1 .search-form{  /* Search here... */
        margin-left: 0.5em;
    }
    
}











































































































